@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

