@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
}
  
$font-1: "Poppins", sans-serif;
$color-Educ: #61a6fb;
$color-Medical: #28da69;
$color-Admin: #e826b1;
$colorBg-Educ: rgb(209, 229, 255);
$colorBg-Medical: rgb(208, 250, 222);
$colorBg-Admin: rgb(252, 230, 248);





